        html,body
            {
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                overflow-x: hidden; 
            }

        @font-face{
        	 font-family: 'littlefd';
                  src: url('/Gotham-Book.ttf') format('truetype');

        }
        @font-face{
        	 font-family: 'rsvpfont';
                  src: url('/PlayfairDisplay-Regular.otf') format('truetype');
        }
        html { 
        	 font-family: 'rsvpfont';
        	 font-size: 3.5vw;
            background: url(/MJ2.jpg) no-repeat; 
            	-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

        }
        #footer{
        	
        	position: absolute;
        	top:191vw;
        	left:62%;
        	width:8%;
        	height:10.5vw; 
        	
        }
        #footer:hover{
        	cursor: pointer;
        }
        
        #rsvp{
        	position: absolute;
        	top:142vw;
        	left:13%;
        	
        	width:77%;
        	height:42vw;
        }
        #submit{
            position:relative;
            left:44%;
            top:13vw;
            width:9vw;
        }
        #submit:hover{
            cursor: pointer;
        }
        #option{
        	font-size: 2vw;
        	color:white;
        	background-color: black;
        	width:33%;
        	line-height:3.3vw;
        	font-family: 'littlefd';
        	text-align: left;
        	position:relative;
        	left:17%;
        	top:13%;
            padding-left: 3%;
        }
        #option:hover{
        	cursor: pointer;
        }
        .rsvp_input{
        	border:none;
        	border-bottom: solid 1px;
        	width:75%;
        	line-height: 3vw;
        	font-family: 'rsvpfont';
        	font-size: 3.5vw;
        	text-align: center;
            -webkit-appearance: none;
            -webkit-border-radius:0px;
            border-radius: 0;

        }
        .rsvp_input:focus{
        	outline:none;

        }
        #input1{
        	background-color: rgb(249,249,249);

        }
        #input2{
        	margin-top: 2vw;
        }
        #block1{
        	position:relative;
        	left:17%;
        	top:8%;
            width:82%;
        }
        #block2{
        	position:relative;
        	left:55%;
        	top:4%;
            width:30%;
        }
        #block3{
        	position:relative;
        	left:20%;
        	top:15%;
            width:80%;
        }
        ::-webkit-input-placeholder {
			   font-size: 2.9vw;
			   text-align: center;
			   font-family: 'rsvpfont';
			}

			:-moz-placeholder { /* Firefox 18- */
			   font-size: 2.9vw;
			   text-align: center;
			   font-family: 'rsvpfont';  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   font-size: 2.9vw;
			   text-align: center;
			   font-family: 'rsvpfont';  
			}

			:-ms-input-placeholder {  
			   font-size: 2.9vw;
			   text-align: center;
			   font-family: 'rsvpfont';  
			}

        #summary{
            background-color: rgba(255,255,255,0.7);
        }

        /** {
              background: #000 !important;
              color: #0f0 !important;
              outline: solid #f00 1px !important;
            }*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

