<div id="rsvp"> 
         <div id="block1"> I, <input id="input1" class="rsvp_input" placeholder="your name here"> , </div>  <div id="option"> AM ATTENDING </div> <div id="block2"> the festivities. </div>
        
        <div id="block3"> I will bring other guest(s) <input id="input2"class="rsvp_input" placeholder="his/her name here"> .
         
        </div>

        <img id="submit" src="/submit.png" />
        
</div>

        <div id="footer"> 
        </div>
        